/**
 * @name Polar
 * @author @uhhhwhatever
 * @description Centered polar bear with transparent UI and purple accent
 * @updateUrl https://raw.githubusercontent.com/yourpov/Simply-Theme/refs/heads/main/Themes/Polar.theme.css
 * @website https://github.com/yourpov/Simply-Theme

*/

@import url('https://raw.githubusercontent.com/yourpov/Simply-Theme/refs/heads/main/Assets/Base.css');

/* Customizable Settings */
:root {
  --background: url('https://imgur.com/9ZByEtp.png');     /* Main background */
  --backgroundsize: auto;                                 /* Background scaling */
  --backgroundposition: center;                           /* Background position */
  --backgroundblur: 5px;                                  /* Blur on background */

  --popout: url('https://i.imgur.com/zN6oYGF.png');       /* Popout background */
  --popoutsize: cover;                                    /* Popout scaling */
  --popoutblur: 15px;                                     /* Popout blur */

  --transparencyalpha: 0.4;                               /* Global transparency */
  --transparencycolor: 8,9,10;                            /* Global transparency color */
  --accentcolor: 159, 133, 255, 0.714;                    /* Accent color (RGB) */

  --messagetransparency: 0.0;                             /* Message box transparency */
  --guildchanneltransparency: 0.0;                        /* Channel list transparency */
  --memberlisttransparency: 0;                            /* Member list transparency */

  --backdropsize: var(--backgroundsize);                  /* Backdrop size */
  --backdropblur: 40px;                                   /* Backdrop blur */

  --version1_0_5: none;
}
