/**
 * @name Base
 * @description Adds a simplistic background without altering the look of discord
 * @author a
 * @version 1.0.0
 * @authorId 1055337846657007648
 * @source 
 * @updateUrl 
 * 
 * @var text
 * @var range
 * @var range
 * @var range
 * @var range
 * @var range
 * @var text
 * @var checkbox
 * @var text
 * @var text
 * @var text
 * @var select
 * @var select
 * @var range
 * @var text
 * @var select
 * @var select
 * @var range
 * @var text
 * @var select
 * @var select
 * @var range
 * @var text
 * @var text
 * @var text
 * @var text
 * @var text
 * @var text
 */


@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor:		0, 0, 0;
	--transparencyalpha:		0.15;
	--messagetransparency:		0.5;
	--guildchanneltransparency:	0.15;
	--chatinputtransparency:	0.0;
	--memberlisttransparency:	0.0;
	--accentcolor:			190, 78, 180;
	
	--settingsicons:		1;               /*  toggle settings icons: 1 = true  2 = false  */
	--font:				"gg sans", "Noto Sans";
	--textshadow:			transparent;
	
	--background:			url(https://i.imgur.com/1zxBtXh.jpeg);
	--backgroundposition:		center;     	 /*  values: center  top  right  bottom  left  */
	--backgroundsize:		cover;
	--backgroundblur:		0;
	
	--popout:			var(--background);
	--popoutposition:		var(--backgroundposition);
	--popoutsize:			var(--backgroundsize);
	--popoutblur:			var(--backgroundblur);
	
	--backdrop:			rgba(0, 0, 0, 0.85);
	--backdropposition:		center;
	--backdropsize:			cover;
	--backdropblur:			0;	
	
	--textbrightest: 		255, 255, 255;
	--textbrighter: 		222, 222, 222;
	--textbright: 			200, 200, 200;
	--textdark: 			160, 160, 160;
	--textdarker: 			125, 125, 125;
	--textdarkest: 			90, 90, 90;	
	
	--version1_0_5:			none;
}
