/**
 * @name Parking-Lot
 * @author a
 * @version 1.0
 * @description Adds a simplistic background without altering the look of discord
 * @source https://raw.githubusercontent.com/ItsEcstasy/DiscordThemes/refs/heads/main/ParkingLot/Base.css
 * @website https://github.com/ItsEcstasy/
 * @authorId 278543574059057150
 * @updateUrl https://raw.githubusercontent.com/ItsEcstasy/DiscordThemes/refs/heads/main/Simply-Theme/Theme.css
*/

@import url('https://raw.githubusercontent.com/ItsEcstasy/DiscordThemes/refs/heads/main/ParkingLot/Base.css');

:root {
  --background: url('https://i.imgur.com/1zxBtXh.jpeg');
  --backgroundsize: cover;
  --backgroundblur: 100px;
  --popout: url('https://i.imgur.com/1zxBtXh.jpeg');
  --popoutsize: cover;
  --popoutblur: 100px;
  --transparencycolor: 0,0,0;
  --accentcolor: 190,78,180;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.62;
  --messagetransparency: 0;           /* Message Transparency */
  --guildchanneltransparency: 0.0.1;  /* Voice Channel Transparency */
  --memberlisttransparency: 0;
  --backdropsize: var(--background-size);
  --backdropblur: 100px;
  --version1_0_5: none;
}
